name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build APK
        run: |
          cd AndroidWebRTCStreamer
          chmod +x gradlew
          ./gradlew clean --no-build-cache
          ./gradlew assembleDebug --no-build-cache

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: AndroidWebRTCStreamer/app/build/outputs/apk/debug/app-debug.apk
